<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Online Judge Lite</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
</head>
<body>

<div class="ts block container">
  <div class="ts flat menu">
    <a class="item" href="/problem/">Home</a>
    <a class="item" href="/status/">Status</a>
    <a class="item right" href="/user/{{request.user.id}}">User</a>
  </div>

  
  <div class="ts grid centered">
    <div class="eight wide column">
      <img class="ts fluid centered image" src="https://pbs.twimg.com/media/CincD2pUUAAU55Q.jpg">
    </div>
    <table class="ts table sortable">
        <thead>
          <tr>
            <th>Problem ID</th>
            <th>Name</th>
            <th>Submit Time</th>
            <th>User</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
      {% for s in submits %}
        <tr>
          <td class="center aligned">{{s.problem.id}}</td>
          <td class="center aligned" >
            <a href="/problem/{{s.problem.id}}">{{s.problem.name}}</a>
          </td>
          <td>{{s.time}}</td>
          <td>{{s.user.username}}
          <td class="{%if s.status == None %}warning{%elif s.status%}positive{%else%}negative{%endif%} center aligned">
            {%if s.status == None %}
            <i class="caution icon"></i>Complie...
            {%elif s.status%}
            <i class="checkmark icon"></i>Correct
            {%else%}
            <i class="remove icon"></i>WrongAnswer
            {%endif%}
          </td>
        </tr>
      {% endfor%}
      </tbody>
      </table>
</div>
</body>
<script>
    ts('.ts.sortable.table').tablesort();
</script>
</html>