<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Online Judge Lite</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
</head>
<body>

<div class="ts block container">
  <div class="ts flat menu">
    <a class="item" href="/problem/">Home</a>
    <a class="item" href="/status/">Status</a>
    <a class="item right" href="/user/{{request.user.id}}">User</a>
  </div>

  <div class="ts grid centered">
    <div class="four wide column">
      <div class="ts raised segment">
        <h4 class="ts dividing header">{{user.username}}</h4>
        <p><b>School：</b>{{user.school}}</p>
        <p><b>Last login：</b>{{user.last_login}}
      </div>

      <div class="ts divided statistics three">
              <div class="statistic">
                  <div class="value">{{n_submit}}</div>
                  <div class="label">Submit</div>
              </div>
              <div class="statistic positive">
                  <div class="value">{{n_AC}}</div>
                  <div class="label">AC</div>
              </div>
              <div class="statistic negative">
                  <div class="value">{{n_WA}}</div>
                  <div class="label">WA</div>
              </div>
        </div>
    </div>
    <div class="twelve wide column">
      
      <table class="ts table sortable">
        <thead>
          <tr>
            <th>Problem ID</th>
            <th>Name</th>
            <th>Submit Time</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
      {% for s in submit %}
        <tr>
          <td class="center aligned">{{s.problem.id}}</td>
          <td class="center aligned" >{{s.problem.name}}</td>
          <td >{{s.time}}</td>
          <td class="{%if s.status == None %}warning{%elif s.status%}positive{%else%}negative{%endif%} center aligned">
            {%if s.status == None %}
            <i class="caution icon"></i>Complie...
            {%elif s.status%}
            <i class="checkmark icon"></i>Correct
            {%else%}
            <i class="remove icon"></i>WrongAnswer
            {%endif%}
          </td>
        </tr>
      {% endfor%}
      </tbody>
      </table>

    </div>
  </div>

</div>
</body>
<script>
  ts('.ts.sortable.table').tablesort();
</script>
</html>